
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Gabarito', sans-serif;
}
.navbar__s1,.navbar__udemy{
    color:magenta;
}
.navbar{
    display: flex;
    padding: 20px;
    justify-content: space-between;
    border-bottom: 1px solid black;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    cursor: pointer;
    
}
.navbar__s2 {
    padding: 10px;
    border:1px solid black ;
    border-radius: 30px;
    width: 50%;
    gap: 10px;
    display: flex;
}
.navbar__s2  input{
    border: none;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
  
    gap: 15px;
    transition: 1s;
}
.navbar__s3 i:hover{
transform: translateY(-20px);
transition: 1s;
box-shadow: 2px 2px 8px 3px black;
 
}
.mylearning{
    position: relative;
    
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
    border-radius: 20px;
}
.mylearning:hover .mylearning__popup{
    display: block;
    
}

.catagories{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid black 1px;

}
.catagories p{
    background-color:magenta ;

    padding: 10px;
    border-radius: 30px;
    border: 1px solid magenta;
}
.catagories p:hover{
    background-color: transparent;
    color: black;
    cursor: pointer;
    transition: 1s;
    border: 1px solid magenta;
    
}
.sale_image img{
    width: 100%;

}
.sale_image{
    position: relative;
}
.sale_image__offer{
    background-color: white;
    width: fit-content;
    position:absolute ;
    top: 100px;
    left: 100px;
    padding: 2%;
    box-shadow: 2px 2px 2px 2px silver;
    border-radius: 10px;
    animation: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom {
    0%{
        transform: scale(0);
        opacity: 0;

    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    flex-wrap: wrap;
    

}
.course-card{
    width: 300px;
    
}
.course-card img{
    width:100%;
    height: 50%;
}
.topics{
    padding: 10px;
    
}
.topics__container{
    display: flex;
    gap: 10px;
    margin-top:  10px;
    flex-wrap: wrap;
    
    
}
.topics__container p{
    border: 2px solid grey;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
    

}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    
}
.footer__one{
    display: flex;
   

    
}
.footer{
    background-color: black;
    color: white;
    padding: 30px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.footer__one p{
    margin: 20px;
}